.navigation-menu {
  animation: slideTopIn 0.5s;
}

.sidebar {
  animation: slideLeftIn 0.5s;
}

.footer {
  animation: slideLeftIn 0.5s;
}

.post-list > * {
  animation: slideTopIn 0.5s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@for $i from 1 through 50 {
  .post-list > *:nth-child(#{$i}) {
    animation-delay: calc(0.1s * #{$i});
  }
}

.post {
  animation: slideTopIn 0.5s;
}